<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator ="layout/mainAdmin.html">

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" layout:fragment="admin_content">


    <br><br>

    <form class="mt-3" th:action="@{'/editBrand'}" method="post">
        <input type="hidden" name="edit_id" th:value="${brand.id}">
        <div class="form-group">
            <input required type="text" name="edit_name" id="edit_name" class="form-control" th:value="${brand.name}" placeholder="Name...">
        </div>
        <div class="form-group">
            <select name="country_id" id="" class="form-control" >
                <option th:each="c: ${countries}" th:value="${c.id}" th:text="${c.name}" th:selected="${brand.country.id == c.id}"></option>
            </select>
        </div>

        <hr class="my-4">
        <div class="">
            <div class="row">
                <div class="col-8">
                    <button type="button" class="btn btn-danger" onclick="document.getElementById('delete_form').submit(); return false;">
                        DELETE
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">SAVE</button>
                </div>
            </div>
        </div>
    </form>
    <form id="delete_form" th:action="@{'/editBrand'}">
        <input type="hidden" name="delete_country_id" >
    </form>

</main>


</html>
